@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;1,100;1,200;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(25deg, #f0ebed, #fcf8f9 50%);

  font-family: "Poppins", sans-serif;
}
h1 {
  font-weight: 900;
  font-size: 30px;
  font-style: bold;
  margin: 3px 200px;
  align-items: center;
  justify-content: center;
  letter-spacing: 1px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .player {
  width: 350px;
  margin: 80px 50px 5px 50px;
}
.player {
  border-radius: 50px;
  
  box-shadow: 0 4px 8px 5px rgba(227, 225, 233, 0.5),
    0 4px 8px 5px rgba(0, 0, 0, 0.19);
}
.player .info {
  
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
.info span,
.info h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 0px 10px;
  color: rgb(63, 57, 57);
}
.show {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: rgb(41, 40, 40); */
  transform: rotate(90deg);
  height: 220px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.show {
  font-size: 100px;
}
h2 {
  display: flex;
  font-weight: bold;
  padding: 5px;
  align-items: center;
  justify-content: center;
  width: 900px;
  height: 100px;
}
.attack-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 900px;
  height: 100px;
  padding-top: 20px;
}
.attack-btn button {
  margin: 0 30px;
  padding: 25px;
  border-radius: 15px;
  border: none;
  outline: none;
  cursor: pointer;
  /* background: rgb(41, 40, 40); */
  font-size: 33px;
  color: orange;
  box-shadow: 0 4px 8px 5px rgba(227, 225, 233, 0.5),
  0 4px 8px 5px rgba(0, 0, 0, 0.19);
}

.show .computer{
  transform: rotate(-90deg);
} */


button:active {
  /* box-shadow: 0 5px 5px rgb(51, 51, 51); */
  /* transform: translateY(4px); */
  transform: rotate(90deg);
}